<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <nav class="navbar navbar-expand-lg navbar-light" style="text-align: center;background-color: #e3f2fd;" >
      <a class="navbar-brand" href="" style="text-align-last: center">
          <img src='../assets/ProjectManager.png' width="30" height="30" class="d-inline-block align-center" style="margin: 0px 0px 0 750px;" alt="">
          Project Manager
      </a>
      </nav>
  </h1>
  
</div>
<router-outlet></router-outlet>